body {
  background-color: rgb(233, 179, 92);
  font-family: "DM Serif Display", serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Noto Serif Georgian", serif;
  font-family: "PT Mono", monospace;
  font-family: "Rubik", sans-serif;
}
a {
  color: rgb(233, 179, 92);
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
.weather-color {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 6px;
}
header {
  border-bottom: 1px solid rgb(219, 164, 54);
  padding: 30px 0;
}
.search-form-input {
  background-color: rgb(244, 228, 201);
  border-radius: 6px;
  width: 450px;
  padding: 14px;
  border: none;
}
.search-form-button {
  background-color: rgb(219, 164, 54);
  border: none;
  width: 70px;
  padding: 14px;
  color: white;
  border-radius: 6px;
}
footer {
  border-top: 1px solid rgb(219, 164, 54);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
}
