body {
  background-color: rgb(233, 179, 92);
  font-family: "DM Serif Display", serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Noto Serif Georgian", serif;
  font-family: "PT Mono", monospace;
  font-family: "Rubik", sans-serif;
}

.weather-color {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 6px;
}
.search-form-button {
  background-color: rgb(233, 179, 92);
}
